@model PhotoViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@section Styles{
    <link href="~/css/site.css" rel="stylesheet" />
}

<div class="card text-light bg-dark" style="width: 300px; margin: auto;">
    <img class="img-fluid" src="@Model.PhotoUrl" alt="Card image cap">
    <div class="card-body text-center">
        <h5 class="card-title">@Model.Title</h5>
        <h6 class="card-title">Points: @Model.Points</h6>
        <p class="card-subtitle">Owner: @Model.User</p>
        <p class="card-subtitle">Contest: @Model.Contest</p>
        <p class="card-subtitle">Category: @Model.Category</p>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
        {
            if (Model.ContestStatus == "Finished")
            {
                <a asp-controller="Reviews" asp-action="GetPhotoReviews" class="btn btn-light" asp-route-id="@Model.Id">Reviews</a>
            }
            else if (Model.ContestStatus == "Phase 2" && Model.Juries.Any(j => j.Contest.Name == Model.Contest && j.User.UserName == UserManager.GetUserName(this.SignInManager.Context.User)))
            {
                <a class="btn btn-success" asp-controller="Reviews" asp-action="Create" asp-route-photoId="@Model.Id">Rate</a>
            }
            else if (Model.ContestStatus == "Phase 2" && Model.Reviews.Any(r => r.Evaluator.UserName == UserManager.GetUserName(this.SignInManager.Context.User) && r.PhotoId == Model.Id))
            {
                <p class="text-danger">You have already rated this photo.</p>
            }
        }
        else if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            @if (Model.ContestStatus == "Phase 2")
            {
                <a class="btn btn-success" asp-controller="Reviews" asp-action="Create" asp-route-photoId="@Model.Id">Rate</a>
            }
            else if (Model.ContestStatus == "Finished")
            {
                <a asp-controller="Reviews" asp-action="GetPhotoReviews" class="btn btn-light" asp-route-id="@Model.Id">Reviews</a>
            }
            <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        }
        else if (SignInManager.IsSignedIn(User) && User.IsInRole("Organizer"))
        {
            @if (Model.ContestStatus == "Phase 2")
            {
                if (Model.Reviews.Any(r => r.Evaluator.UserName == UserManager.GetUserName(this.SignInManager.Context.User) && r.PhotoId == Model.Id))
                {
                    <p class="text-danger">You have already rated this photo.</p>
                }
                else
                {
                    <a class="btn btn-success" asp-controller="Reviews" asp-action="Create" asp-route-photoId="@Model.Id">Rate</a>
                }
            }
            else if (Model.ContestStatus == "Finished")
            {
                <a asp-controller="Reviews" asp-action="GetPhotoReviews" class="btn btn-light" asp-route-id="@Model.Id">Reviews</a>
            }
            <a class="btn btn-light" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        }
    </div>
</div>
@section Scripts{
}