@model HomeContestsViewModel

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link href="~/css/futureContests.css" rel="stylesheet" />
}
@*
<div class="text-center">
    </h1> class="display-4">Welcome to the world of photography</h1>
</div>

<div class="text-center">
    <h4>Latest winning photos</h4>
</div>
@foreach (var item in Model.FinishedContests)
{
    if (item.Photos.Count() != 0)
    {
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="@item.Photos.First().PhotoUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-text">Contest: @item.Name</h5>
                <h6 class="card-text">Category: @item.Category.Name</h6>
            </div>
        </div>
    }
}*@

<div class="text-center">
    <h4>Future contests</h4>
</div>
@foreach (var item in Model.Phase1Contests)
{
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-4">
                        <div class="card card-body">
                            <h5 class="card-text">Contest: @item.Name</h5>
                            <h6 class="card-text">Category: @item.Category</h6>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a class="btn btn-outline-dark" asp-action="Details" asp-controller="Contests" asp-route-name="@item.Name">Details</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-text">Contest: @item.Name</h5>
                <h6 class="card-text">Category: @item.Category</h6>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="btn btn-outline-dark" asp-action="Details" asp-controller="Contests" asp-route-name="@item.Name">Details</a>
                }
            </div>
        </div>*@
}
<a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
@section Scripts{ 
<script src="~/js/futureContestsJS.js"></script>
}
