@model HomeContestsViewModel

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link rel="stylesheet" href="~/css/1.css">
}
@section Scripts{
    <script src="~/js/2js.js"></script>
    <script src="~/js/3js.js"></script>
    <script src="~/js/4js.js"></script>
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-3">Welcome to the world of photography</h1>
        <p class="lead">
            <h3>Show your skills and compete to win</h3>
        </p>
    </div>
</div>

<div class="text-center">
    <h3>Latest winning photos</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="inam" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                @foreach (var item in Model.PhotosFirstPlace.Take(3))
                                {
                                    <partial name="_SinglePhotoPartial" model="new PhotoViewModel(item)" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                @foreach (var item in Model.PhotosFirstPlace.Skip(3).Take(3))
                                {
                                    <partial name="_SinglePhotoPartial" model="new PhotoViewModel(item)" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#inam" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#inam" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>
<br />

<div class="text-center">
    <h3>Present contests you can participate in</h3>
</div>
<div class="container-fluid text-center" >
    <div class="row">
        <div class="col-sm-12">
            <div id="inam" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active ">
                        <div class="container ">
                            <div class="row">
                                @foreach (var item in Model.Phase1Contests.Take(3))
                                {
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="background-color:khaki;" margin: auto;">
                                            <div class="card-body">
                                                <h4 class="card-title">@item.Name</h4>
                                                <p class="card-text">Category: @item.Category</p>
                                            </div>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                <a class="btn btn-dark" asp-action="Details" asp-controller="Contests" asp-route-name="@item.Name">Details</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Details</a>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                @foreach (var item in Model.Phase1Contests.Skip(3).Take(3))
                                {
                                    <div class="col-sm-12 col-lg-4">
                                        <div class="card" style="background-color:khaki;" margin: auto;">
                                            <div class="card-body">
                                                <h4 class="card-title">@item.Name</h4>
                                                <p class="card-text">Category: @item.Category</p>
                                                <div class="align-items-center">
                                                </div>
                                            </div>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                <a class="btn btn-dark" asp-action="Details" asp-controller="Contests" asp-route-name="@item.Name">Details</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Details</a>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <a href="#inam" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#inam" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>