@model IEnumerable<UserViewModel>
@inject SignInManager<User> SignInManager


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All users</h2>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-outline-dark" asp-controller="Users" asp-action="CreateOrganizer">Create organizer</a>
        <a class="btn btn-outline-dark" asp-controller="Users" asp-action="ViewAllParticipants">View all participants</a>
        <a class="btn btn-outline-dark" asp-controller="Users" asp-action="SearchByUsername">Search by username</a>
    </p>
}
else if (SignInManager.IsSignedIn(User) && User.IsInRole("Organizer"))
{
    <form asp-action="ShowUserInfo">

        <table>
            <tr>
                <th>
                </th>
                <th>
                    Search by username:
                </th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-outline-dark" asp-controller="Users" asp-action="ViewAllParticipants">View all participants</a>
                </td>
                <td>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="@Model.First().Username" class="form-control btn-outline-dark" style="width:250px;" />
                        <span asp-validation-for="@Model.First().Username" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-outline-success" />
                    </div>
                </td>
            </tr>
        </table>
    </form>
}

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{var x = 0; }
        @foreach (var user in Model)
        {
            <tr>
                <td scope="row">@Interlocked.Increment(ref x)</td>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Points)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-Username="@user.Username">Edit</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-Username="@user.Username">Delete</a>
                    }
                    else if (User.IsInRole("Organizer"))
                    {
                        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-Username="@user.Username">Edit</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
