@model IEnumerable<PhotoContest.Services.Models.UserDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Points)
            </td>
            <td>
            <a asp-action="Edit" asp-route-Username="@user.Username">Edit</a> |
            <a asp-action="Details" asp-route-Username="@user.Username">Details</a> |
            <a asp-action="Delete" asp-route-Username="@user.Username">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
