@model UserViewModel
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "ShowUserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User's info</h2>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Points)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-Username="@Model.Username">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-Username="@Model.Username">Delete</a>
                </td>
            }
            else if (User.IsInRole("Organizer"))
            {
                <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-Username="@Model.Username">Edit</a>
                </td>
            }
        </tr>
    </tbody>
</table>
<a class="btn btn-outline-dark" asp-action="Index">Back</a>

