@model UserViewModel
@{
    ViewData["Title"] = "ShowMyAccountInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My account details</h2>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Username)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Username)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Rank)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Rank)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Points)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Points)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PointsUntilNextRank)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PointsUntilNextRank)
    </dd>
</dl>
<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Flocalhost%3A5000%2FReviews%2FGetPhotoReviews%2F7780497c-f5e4-43e2-8e90-5067f91475ce&layout=button&size=large&width=77&height=28&appId" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
@*@section Scripts{
    <script src="~/js/jsFB.js"></script>
}*@