@model UserViewModel
@{
    ViewData["Title"] = "ShowMyAccountInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My account details</h2>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Username)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Username)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Rank)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Rank)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Points)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Points)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PointsUntilNextRank)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PointsUntilNextRank)
    </dd>
</dl>
<a class="btn btn-outline-dark" asp-action="Index" asp-controller="Home">Home</a>
<a class="btn btn-outline-dark" asp-action="Index" asp-controller="Contests">All contests</a>
