@model IEnumerable<UserViewModel>
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "ViewAllParticipants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Participants</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Points)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-Username="@user.Username">Edit</a> |
                    <a asp-action="Delete" asp-route-Username="@user.Username">Delete</a>
                </td>
            }
            else if (User.IsInRole("Organizer"))
            {
                <td>
                    <a asp-action="Edit" asp-route-Username="@user.Username">Edit</a> |
                </td>
            }

        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
