@model IEnumerable<ContetsViewModel>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "OpenContest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() == 0)
{
    <h3>There are no contests in this phase</h3>
}
else
{
    <h2>All contests</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeUntilNextPhase)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeUntilNextPhase)
                </td>
                @if (item.Status == "Phase 1" && !item.AllUserContests.Any(uc => uc.Contest.Name == item.Name && uc.User.UserName == UserManager.GetUserName(this.SignInManager.Context.User)))
                {
                    <td>
                        <a class="btn btn-outline-dark" asp-action="Enroll" asp-route-name="@item.Name">Enroll</a>
                    </td>
                }
                else if (item.Status == "Phase 1" && item.AllUserContests.Any(uc => uc.Contest.Name == item.Name
                                                 && uc.User.UserName == UserManager.GetUserName(this.SignInManager.Context.User)
                                                 && !item.AllPhotos.Any(p => p.Contest == item.Name && p.Username == UserManager.GetUserName(this.SignInManager.Context.User))))
                {
                    <td>
                        <a class="btn btn-outline-dark" asp-controller="Photos" asp-action="Create" asp-route-contestName="@item.Name">Add photo</a>
                    </td>
                }
                else if (item.Status == "Phase 1" && item.AllPhotos.Any(p => p.Contest == item.Name && p.Username == UserManager.GetUserName(this.SignInManager.Context.User)))
                {
                    <td>
                        <p>Photo waiting evaluation.</p>
                    </td>
                }
                else if (item.Status == "Finished" && item.AllUserContests.Any(uc => uc.Contest.Name == item.Name && uc.User.UserName == UserManager.GetUserName(this.SignInManager.Context.User)))
                {
                    <td>
                        <a class="btn btn-outline-dark" asp-controller="Photos" asp-action="GetContestsPhotos" asp-route-contestName="@item.Name">View photos</a>
                    </td>
                }
                else if (item.Status == "Phase 2" && item.Juries.Any(j => j.Contest.Name == item.Name && j.User.UserName == UserManager.GetUserName(this.SignInManager.Context.User)))
                {
                    <td>
                        <a class="btn btn-outline-dark" asp-controller="Photos" asp-action="GetContestsPhotos" asp-route-contestName="@item.Name">Rate photos</a>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
            }
        </tbody>
    </table>
}

<div>
    <a class="btn btn-outline-dark" asp-action="AllOpen">All contests</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
